[tool.poetry]
name = "eddrit"
version = "0.5.2"
description = "Alternative Reddit frontend"
authors = ["corenting <corenting@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.11"
aiofiles = "^22.1.0"
environs = "^9.5.0"
gunicorn = "^20.1.0"
httpx = "^0.23.3"
Jinja2 = "^3.1.2"
loguru = "^0.6.0"
lxml = "^4.9.2"
python-multipart = "^0.0.5"
starlette = "^0.23.1"
timeago = "^1.0.16"
tldextract = "^3.4.0"
uvicorn = {version = "^0.20.0", extras = ["standard"]}

[tool.poetry.dev-dependencies]
black = "*"
coverage = {version = "*", extras = ["toml"]}
mypy = "*"
pytest = "*"
pytest-cov = "*"
ruff = "*"

[tool.ruff]
line-length = 88
ignore = ["E501"]

[tool.ruff.per-file-ignores]
"__init__.py" = ["F401"]

[tool.mypy]
ignore_missing_imports = true
disallow_untyped_defs = true

[tool.coverage.run]
omit = ["eddrit/config.py"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
