[tool.poetry]
name = "eddrit"
version = "0.1.0"
description = "Alternative Reddit frontend"
authors = ["corenting <corenting@gmail.com>"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"
aiofiles = "^0.6.0"
environs = "^9.3.0"
gunicorn = "^20.0.4"
httpx = "^0.16.1"
Jinja2 = "^2.11.3"
lxml = "^4.6.2"
python-multipart="^0.0.5"
starlette = "^0.14.2"
timeago = "^1.0.15"
tldextract = "^3.1.0"
uvicorn = "^0.13.2"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
coverage = {version = "*", extras = ["toml"]}
isort = "*"
mypy = "*"
pyflakes = "*"
pytest = "*"
pytest-cov = "*"
requests = "*"

[tool.isort]
profile = "black"

[tool.coverage.run]
omit = ["eddrit/config.py"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
