@import url('pico-bootstrap-grid.min.css');

/* Base */

/* For sticky footer per MDN recommendations */
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

:root {
  --line-height: 1.15;
  --font-size: 16px;
  --post-content: 35rem;
}

.container-fluid {
  --block-spacing-vertical: 1rem;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.main-title {
  margin-bottom: calc(var(--typography-spacing-vertical) / 2);
}

footer {
  margin-bottom: calc(var(--block-spacing-vertical) * 1);
  margin-top: calc(var(--block-spacing-vertical) * 1);
}

@media all and (min-width: 1200px) {
  .desktop-only {
    display: block;
  }

  .phone-only {
    display: none;
  }
}

@media all and (max-width: 1199px) {
  .desktop-only {
    display: none;
  }

  .phone-only {
    display: block;
  }
}

/* Dark theme stuff */

html[data-theme='dark'] .post-image-thumbnail-default {
  filter: invert(100%);
}

/* Nav */

.nav-search {
  margin-bottom: 0;
}

/* Posts */

.post-title {
  display: inline-flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: var(--nav-link-spacing-horizontal);
}

.posts-list-pagination-button {
  margin-left: var(--spacing);
  margin-right: var(--spacing);
}

.post-sorting-button {
  width: 10rem;
}

.post-infos {
  line-height: calc(var(--line-height) * 1.30);
}

.post-flair {
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  padding-left: var(--border-radius);
  padding-right: var(--border-radius);
  padding-top: calc(var(--spacing) / 6);
  padding-bottom: calc(var(--spacing) / 6);
  margin: var(--border-radius);
  display: inline-flex;
  align-items: center;
  width: fit-content;
}

.post-flair-spoiler {
  background-color: darkred;
}

.post-flair-text {
  mix-blend-mode: difference;
}

.post-flair-icon {
  width: var(--spacing);
  height: var(--spacing);
  margin-left: var(--border-radius);
  margin-right: var(--border-radius);
}

.post-image-thumbnail {
  object-fit: contain;
  max-width: calc(var(--spacing) * 4);
  max-height: calc(var(--spacing) * 4);
}

.post-preview-button {
  height: calc(var(--spacing) * 1.5);
  width: calc(var(--spacing) * 1.5);
  padding: 0px;
  line-height: var(--line-height);
}

.post-content {
  margin-bottom: var(--block-spacing-vertical);
  margin-top: var(--block-spacing-vertical);
  max-width: min(var(--post-content), 100%);
  max-height: min(var(--post-content), 100%);
}

.post-content-image-or-video {
  /* Use a fixed height for media and contain the object */
  height: var(--post-content);
  object-position: top left;
  object-fit: contain;
}

.post-content-iframe {
  height: var(--post-content);
  width: 100%;
}

.post-content-gallery-buttons {
  margin-right: calc(var(--spacing) / 2);
  margin-bottom: calc(var(--spacing) / 2);
  display: flex;
  align-items: baseline;
  flex-flow: row wrap;
}

.post-content-gallery-numbers {
  margin: calc(var(--spacing) / 2);
}

.post-content-gallery-button {
  width: 6rem;
  max-width: 100%;
}

.post-comment-title {
  display: inline-flex;
  align-items: baseline;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: var(--border-radius);
}

.post-comment-title-separator {
  margin-top: 0;
  border-style: dotted;
}

.post-comment-title-item {
  margin-left: var(--border-radius);
  margin-right: var(--border-radius);
}

.post-comment-list-item {
  list-style-type: none;
}

.post-comment-content {
  background-color: var(--table-row-stripped-background-color);
  padding-top: var(--border-radius);
  padding-bottom: var(--border-radius);
}

.post-comment-content-inverse {
  background-color: var(--card-background-color);
}

/* VideoJS */

/* Remove black bars in fill mode in video post content */
.video-js {
  background: transparent !important;
}

/* Align video to the top left in video post content */
.vjs-tech {
  object-position: top left;
  position: relative !important;
}

/* Settings */

.settings-item {
  justify-content: left !important;
}

/* Over 18 page */
.over18-button {
  width: 10rem;
  margin-top: var(--spacing);
}

.over18-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
