{% macro render_author(comment) %}
{% if comment.is_submitter %}
<span style="background-color: blue; vertical-align: top" class="post-author-tag">
    <span class="has-text-white">
        {{ comment.author }}
    </span>
</span>
[S]
{% elif comment.is_admin %}
<span style="background-color: red; vertical-align: top" class="post-author-tag">
    <span class="has-text-white">
        {{ comment.author }}
    </span>
</span>
[A]
{% else %}
        {{ comment.author }}
{% endif %}
{% endmacro %}

{% macro render_comments(subreddit_name, post_id, comments) %}
<ul>
    {% for comment in comments %}
    {% if comment.show_more_count %}
    {% if comment.parent_id != post_id %}
    <li id="comment-{{ comment.parent_id }}-more" class="comment-item comment-show-more">
        <a class="comment-content"
            onclick="fetchCommentsChildren('{{ subreddit_name }}', '{{ post_id }}', '{{ comment.parent_id }}', '{{ comment.id }}');">Show
            more ( {{ comment.show_more_count }} hidden ) ...</a>
    </li>
    {% else %}
    <a class="comment-show-more" href="https://old.reddit.com/r{{ request.path }}">{{ comment.show_more_count }} more
        comments cannot be displayed, click here to see them on old.reddit.com</a>
    {% endif %}
    {% else %}
    <div id="comment-{{ comment.id }}">
        <li class="comment-item">
            <div class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <a id="comment-{{ comment.id }}-toggle" class="comment-toggle"
                                onclick="toggleCommentVisibility('{{ comment.id }}');">[-]</a>
                            <strong
                                {{ 'class=sticky-title' if comment.is_sticky else '' }}>{{ render_author(comment) }}</strong>
                            <small> {{ comment.human_score }} points</small>
                            <small> {{ comment.human_date }} </small>
                            {% if comment.is_sticky %}
                            <small class="sticky-title"> Stickied comment</small>
                            {% endif %}
                            <br>
                        <div id="comment-{{ comment.id }}-content" class="comment-content">
                            {{ comment.content | safe }}
                        </div>
                        </p>
                    </div>
                </div>
            </div>
            <ul id="comment-{{ comment.id }}-children">
                {{ render_comments(subreddit_name, post_id, comment.children) }}
            </ul>
        </li>
    </div>
    {% endif %}
    {% endfor %}
</ul>
{% endmacro %}