{% macro render_flair(flair) %}
{% if flair %}
<span style="background-color: {{ flair.background_color }};" class="tag flair">
    {% for item in flair.items %}
    {% if item.item_type.value == 'text' %}
    <span class="has-text-{{ flair.text_color }}">
        {{ item.content }}
    </span>
    {% elif item.item_type.value == 'emoji' %}
    <span class="icon">
        <img class="flair-icon" src="{{ item.content }}" />
    </span>
    {% endif %}
    {% endfor %}
</span>
{% endif %}
{% endmacro %}
