{% import "macros/common.html" as common_macros with context %}

{% macro render_author(comment) %}
{% set author_tag = '' %}
{% if comment.is_submitter %}
<span class="post-flair post-comment-title-item" style="background-color: blue;">
    <span>
        {{ comment.author.name }}
    </span>
</span>
{% set author_tag = '<abbr title="Submitter">[S]</abbr>' %}
{% elif comment.is_admin %}
<span class="post-flair post-comment-title-item" style="background-color: red;">
    <span>
        {{ comment.author.name }}
    </span>
</span>
{% set author_tag = '<abbr title="Reddit admin">[A]</abbr>' %}
{% elif comment.is_moderator %}
<span class="post-flair post-comment-title-item" style="background-color: green;">
    <span>
        {{ comment.author.name }}
    </span>
</span>
{% set author_tag = '<abbr title="Moderator of /r/' + subreddit.name + ', speaking officially">[M]</abbr>' %}
{% else %}
<span class="post-comment-title-item">
    {{ comment.author.name }}
</span>
{% endif %}
{{ common_macros.render_flair(comment.author.flair) }}
{{ author_tag | safe }}
{% endmacro %}

{% macro render_comments(subreddit_name, post_id, comments) %}
<ul class="post-comments-tree">
    {% for comment in comments %}
    {% if comment.show_more_count is defined %}
    {% if comment.parent_id != post_id %}
    <li class="post-comment-list-item" id="comment-{{ comment.parent_id }}-more">
        <a
            onclick="fetchCommentsChildren('{{ subreddit_name }}', '{{ post_id }}', '{{ comment.parent_id }}', '{{ comment.id }}');">Show
            more ( {{ comment.show_more_count }} hidden )...</a>
    </li>
    {% else %}
    <li class="post-comment-list-item">
        <a href="https://old.reddit.com/r{{ request.path }}">{{ comment.show_more_count }} more
            comments cannot be displayed, click here to see them on old.reddit.com</a>
    </li>
    {% endif %}
    {% else %}
    <li id="comment-{{ comment.id }}" class="post-comment-list-item">
        <div class="post-comment-title">
            <a id="comment-{{ comment.id }}-toggle" onclick="toggleCommentVisibility('{{ comment.id }}');">[-]</a>
            {{ render_author(comment) }}
            <small class="post-comment-title-item">{{ comment.human_score }} points</small>
            <small class="post-comment-title-item">{{ comment.human_date }}</small>
            {% if comment.is_sticky %}
            <small class="post-comment-title-item">Stickied comment</small>
            {% endif %}
        </div>
        <hr class="post-comment-title-separator"/>
        <div id="comment-{{ comment.id }}-content">
            {{ comment.content | safe }}
        </div>
        <div id="comment-{{ comment.id }}-children">
            {{ render_comments(subreddit_name, post_id, comment.children) }}
        </div>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endmacro %}
