{% import "macros/common.html" as common_macros with context %}

{% macro render_warning_flair(is_enabled, text) %}
{% if is_enabled %}
<span class="post-flair post-flair-spoiler">
    <span>
        {{ text }}
    </span>
</span>
{% endif %}
{% endmacro %}

{% macro render_post_card(post, show_thumbnails, always_show_over18_thumbnail, content_expanded) %}
<article class="container-fluid">
    <div class="row">
        <!-- Thumbnail (first column) -->
        {% if show_thumbnails %}
        <span class="col-auto">
            {% if post.over18 and not settings.nsfw_thumbnails and not always_show_over18_thumbnail %}
            <img src="{{ url_for('static', path='images/icons/slash-circle.svg') }}" height="60" width="60">
            {% else %}
            <img src="{{ post.thumbnail_url | replace("$STATIC_RES_PATH", url_for('static', path='' )) }}"
                class="post-image-thumbnail post-image-thumbnail-default" height="60" width="60">
            {% endif %}
        </span>
        {% endif %}

        <!-- Content (second column) -->
        <div class="col">
            <!-- Title + flairs -->
            <div class="col post-title">
                <a href="{{ post.url }}">
                    <strong>{{ post.title }}</strong>
                </a>
                <small>({{ post.domain }}) </small>
                <small>
                    {{ render_warning_flair(post.over18, "NSFW") }}
                    {{ render_warning_flair(post.spoiler, "Spoiler") }}
                    {{ common_macros.render_flair(post.flair) }}
                </small>
            </div>

            <!-- Infos -->
            <span class="col">
                <span class="row align-items-center">
                    <!-- Open/close preview button -->
                    {% if post.content.type.value != "link" %}
                    <span class="col col-2 col-md-auto">
                        <a class="outline post-preview-button" role="button" href="javascript:void(0)"
                            class="post-preview-button outline" onclick="togglePostVisibility('{{ post.id }}');">+</a>
                    </span>
                    {% endif %}

                    <!-- Author / subreddit etc. -->
                    <small class="col">
                        <div class="post-infos">
                            {{ post.human_score }} points - submitted {{ post.human_date }} by {{ post.author.name }} {{
                            common_macros.render_flair(post.author.flair) }} to <a
                                href="{{ url_for('subreddit', path=post.subreddit) }}">r/{{ post.subreddit }}</a>
                        </div>
                        <a href="{{ post.comments_url_path }}">
                            <span><img id="toggle-{{ post.id }}"
                                    src="{{ url_for('static', path='images/icons/chat-left.svg') }}" />
                            </span>
                            <small>{{ post.comments_count }} comments</small>
                        </a>
                    </small>
                </span>
            </span>
        </div>
    </div>


    <div>
        {% if post.content.type.value != "link" %}
        <div class="" id="content-{{ post.id }}" style="display: {{ 'inline-block' if content_expanded else 'none' }};">
            <template id="content-{{ post.id }}-template">
                <div id="content-{{ post.id }}-preview">
                    {{ render_content(post) }}
                </div>
            </template>
            {% if content_expanded %}
            <div id="content-{{ post.id }}-preview">
                {{ render_content(post) }}
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
</article>
{% endmacro %}

{% macro render_content(post) %}
<div class="post-content">
    {% if post.content.type.value == 'text' %}
    <div class="post-text">
        {{ post.content.text|safe }}
    </div>
    {% endif %}
    {% if post.content.type.value == 'picture' %}
    <a href="{{ post.url }}">
        <img height="{{ post.content.picture.height }}" width="{{ post.content.picture.width }}" class="post-content-image" src="{{ post.content.picture.url }}" />
    </a>
    {% endif %}
    {% if post.content.type.value == 'video' %}
    {% if not post.content.is_embed %}
    <div class="post-content-video">
        <video class="video-js vjs-fluid" id="video-{{ post.id }}" data-width="{{ post.content.width }}"
            data-height="{{ post.content.height }}" data-is-gif="{{ post.content.is_gif }}"
            data-url="{{ post.content.url }}" data-video-format="{{ post.content.video_format.value }}">
            <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
            </p>
        </video>
    </div>
    {% else %}
    <div class="post-content-video">
        {{ post.content.url|safe }}
    </div>
    {% endif %}
    {% endif %}
</div>
{% endmacro %}
