<!DOCTYPE html>
<html lang="en" data-theme="{{ settings.theme.value }}">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | eddrit</title>
    <meta property="og:site_name" content="eddrit">

    {% if rss_feed_url is defined %}
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ rss_feed_url }}" />
    {% endif %}

    {% if title is defined %}
    <meta property="og:title" content="{{ title }}" />
    {% endif %}
    {% if description is defined %}
    <meta name="description" content="{{ description | truncate(140) }}">
    <meta property="og:description" content="{{ description | truncate(140) }}" />
    {% endif %}

    {% if opengraph_image is defined %}
    <meta property="og:image" content="{{ opengraph_image }}" />
    <meta name="twitter:card" content="summary_large_image">
    {% else %}
    <meta property="og:image" content="{{ url_for('static_with_key', key=global.app_version, path='images/logo_padded.png') }}" />
    {% endif %}

    <link rel="icon" type="image/png" href="{{ url_for('static_with_key', key=global.app_version, path='favicon/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static_with_key', key=global.app_version, path='favicon/favicon.svg') }}" />
    <link rel="shortcut icon" href="{{ url_for('static_with_key', key=global.app_version, path='favicon/favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static_with_key', key=global.app_version, path='favicon/apple-touch-icon.png') }}" />
    <meta name="apple-mobile-web-app-title" content="eddrit" />
    <link rel="manifest" href="{{ url_for('static_with_key', key=global.app_version, path='favicon/site.webmanifest') }}" />

    {% if canonical_url is defined %}
    <link rel="canonical" href="{{ canonical_url }}" />
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static_with_key', key=global.app_version, path='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static_with_key', key=global.app_version, path='vendors/videojs/video-js-min.css') }}">
    <noscript>
        <link rel="stylesheet" href="{{ url_for('static_with_key', key=global.app_version, path='css/nojs.css') }}">
    </noscript>
    {% endblock %}
</head>

<body>

    {# Set UI layout #}
    {% set ui_layout_class = 'container-fluid' if settings.layout.value == 'wide' else 'container' %}

    <header class="{{ ui_layout_class }}">
        <div>
            {% include 'header.html' %}
        </div>
    </header>

    <main class="{{ ui_layout_class }}">
        <h1 class="main-title">
            {% if title_link is defined %}
            <a href="{{ title_link }}">{{ title }}</a>
            {% else %}
            {{ title }}
            {% endif %}
        </h1>

        <div>
            {% block main_content %}{% endblock %}
        </div>

        <div>
            {% block bottom_content %}{% endblock %}
        </div>

    </main>

    <div class="{{ ui_layout_class }}">
        {% include 'footer.html' %}
    </div>
</body>
<script type="text/javascript" src="{{ url_for('static_with_key', key=global.app_version, path='js/eddrit.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static_with_key', key=global.app_version, path='vendors/dashjs/dash.all.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static_with_key', key=global.app_version, path='vendors/videojs/video.min.js') }}"></script>

</html>
