<!DOCTYPE html>
<html lang="en" data-theme="{{ settings.theme.value }}">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} | eddrit</title>
    <meta property="og:site_name" content="eddrit">

    {% if opengraph_title is defined %}
    <meta property="og:title" content="{{ title }}" />
    {% endif %}
    {% if description is defined %}
    <meta name="description" content="{{ description | truncate(140) }}">
    {% endif %}

    {% if image is defined %}
    <meta property="og:image" content="{{ image }}" />
    {% else %}
    <meta property="og:image" content="{{ url_for('static', path='images/logo_padded.png') }}" />
    {% endif %}

    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', path='favicon/favicon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', path='favicon/favicon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', path='favicon/favicon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', path='favicon/favicon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', path='favicon/favicon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', path='favicon/favicon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', path='favicon/favicon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', path='favicon/favicon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='favicon/favicon-180x114.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='favicon/favicon-16x16.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', path='favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="192x192"
        href="{{ url_for('static', path='favicon/favicon-192x192.png') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', path='favicon/favicon.ico') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='favicon/favicon.ico') }}">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static', path='favicon/favicon-144x144.png') }}">
    <meta name="msapplication-config" content="{{ url_for('static', path='browserconfig.xml') }}">

    <link rel="manifest" href="{{ url_for('static', path='manifest.json') }}">
    <meta name="theme-color" content="#ffffff">

    {% if canonical_url is defined %}
    <link rel="canonical" href="{{ canonical_url }}" />
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='vendors/videojs/video-js-min.css') }}">
    <noscript>
        <link rel="stylesheet" href="{{ url_for('static', path='css/nojs.css') }}">
    </noscript>
    {% endblock %}
</head>

<body>

    {# Set UI layout #}
    {% set ui_layout_class = 'container-fluid' if settings.layout.value == 'wide' else 'container' %}

    <header class="{{ ui_layout_class }}">
        <div>
            {% include 'header.html' %}
        </div>
    </header>

    <main class="{{ ui_layout_class }}">
        <h1 class="main-title">
            {% if title_link is defined %}
            <a href="{{ title_link }}">{{ title }}</a>
            {% else %}
            {{ title }}
            {% endif %}
        </h1>

        <div>
            {% block main_content %}{% endblock %}
        </div>

        <div>
            {% block bottom_content %}{% endblock %}
        </div>

    </main>

    <div class="{{ ui_layout_class }}">
        {% include 'footer.html' %}
    </div>
</body>
<script type="text/javascript" src="{{ url_for('static', path='js/main.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', path='vendors/dashjs/dash.all.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', path='vendors/videojs/video.min.js') }}"></script>

</html>
