<a class="phone-only" href="{{ url_for('root', path='') }}">
    <img src="{{ url_for('static_with_key', key=global.app_version, path='images/logo.svg') }}" width="132" height="28">
</a>

<nav class="align-items-baseline">
    <ul>
        {# Logo #}
        <li class="desktop-only">
            <a href="{{ url_for('root', path='') }}">
                <img src="{{ url_for('static_with_key', key=global.app_version, path='images/logo.svg') }}" width="132"
                    height="28">
            </a>
        </li>

        {# Main links #}
        <li>
            <details class="dropdown">
                <summary>
                    Subreddit
                </summary>
                <ul class="nav-subreddit-dropdown" dir="ltr">
                    <li><a href="/">/r/popular</a></li>
                    <li><a href="/r/all">/r/all</a></li>
                </ul>
            </details>
        </li>
        <li class="small-only">
            <a href="/settings">Settings</a>
        </li>
        <li>
            <form role="search" class="nav-search" action="/search" method="get">
                <input type="search" id="search" name="q" placeholder="Search">
                <input type="submit" value="↵" />
            </form>
        </li>
    </ul>

    <ul class="not-phone-only align-items-baseline">
        <li>
            <a href="/settings">Settings</a>
        </li>
    </ul>
</nav>
