<a class="phone-only" href="{{ url_for('root', path='') }}">
    <img src="{{ url_for('static_with_key', key=global.app_version, path='images/logo.svg') }}" width="132" height="28">
</a>

<nav class="align-items-baseline">
    <ul>
        {# Logo #}
        <li class="desktop-only">
            <a href="{{ url_for('root', path='') }}">
                <img src="{{ url_for('static_with_key', key=global.app_version, path='images/logo.svg') }}" width="132" height="28">
            </a>
        </li>

        {# Main links #}
        <li>
            <a href="/">
                Popular
            </a>
        </li>
        <li>
            <a href="/r/all">
                All
            </a>
        </li>
    </ul>

    <ul class="align-items-baseline">
        <li>
            <form class="nav-search" action="/search" method="get">
                <input type="search" id="search" name="q" placeholder="Search">
            </form>
        </li>
        <li>
            <a href="/settings" role="button" class="outline secondary">⚙️</a>
        </li>
    </ul>
</nav>
