{% set title = "Over 18?" %}

{% extends "base.html" %}

{% block main_content %}
<article>
    <header>
        Do you want to continue?
    </header>
    <p>You must be over 18 to see this content.</p>
    <p >Are you over 18 and willing to see adult (NSFW) content?</p>
    <div class="over18-buttons ">
        <a role="button" class="secondary over18-button " href="{{ url_for('root', path='') }}">
            Go back
        </a>
        <form action="/over18" method="post">
            <button role="button"  class="over18-button " type="submit" name="continue" value="{{ destination_link }}">Continue</button>
        </form>
    </div>
</article>

{% endblock %}
