{% import "macros/post.html" as post_macros with context %}
{% import "macros/comments.html" as comments_macros with context %}

{% set title = post.title | truncate(52) ~ " | " ~ about_information.title %}
{% set description = post.title ~ " | " ~ about_information.title %}

{% if post.content.type == 'picture' %}
    {% if post.content.type == 'picture' %}
        {% set image = post.url %}
    {% elif post.content.type == 'gallery' %}
        {% set image = post.content.pictures[0].url %}
    {% endif %}
{% endif %}

{% extends "base.html" %}

{% block main_content %}
{{ post_macros.render_post_card(post, True, about_information.show_thumbnails, about_information.over18, True) }}
<hr />
{{ comments_macros.render_comments(about_information.name, post.id, post.comments) }}
{% endblock %}
