{% import "macros/post.html" as post_macros with context %}

{% set title = subreddit.title %}

{# Compute older/newer links #}
{% if pagination.before_post_id %}
{% set newer_url = request.raw_path.decode('utf-8') ~ "?count=25&before=" ~ pagination.before_post_id %}
{% endif %}
{% if pagination.after_post_id %}
{% set older_url = request.raw_path.decode('utf-8') ~ "?count=25&after=" ~ pagination.after_post_id %}
{% endif %}
{# Keep sorting period query parameter if needed #}
{% if request.query_params['t'] %}
{% if pagination.after_post_id %}
{% set older_url = older_url ~ "&t=" ~ request.query_params['t'] %}
{% endif %}
{% if pagination.before_post_id %}
{% set newer_url = newer_url ~ "&t=" ~ request.query_params['t'] %}
{% endif %}
{% endif %}

{% extends "base.html" %}

{% block main_content %}
{# Sorting selection #}
<details>
    <summary>Sorting mode</summary>
    <nav>
        <ul class="row">
            {% for sorting_mode in global.sorting_modes %}
            {% if sorting_mode == 'popular' %}
            {% set sorting_mode_url = url_for('subreddit', path=subreddit.name) %}
            {% else %}
            {% set sorting_mode_url = url_for('subreddit', path=subreddit.name ~ '/' ~ sorting_mode) %}
            {% endif %}
            <li class="post-sorting-item col">
                <a role="button"
                    class="post-sorting-button {{ 'secondary' if current_sorting_mode.value != sorting_mode else '' }}"
                    href="{{ sorting_mode_url }}">
                    {{ sorting_mode | capitalize }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</details>

{% if has_sorting_period %}
<details>
    <summary>Sorting period</summary>
    {# Sorting period selection #}

    <nav>
        <ul class="row">
            {% for sorting_period in global.sorting_periods %}
            {% if sorting_mode == 'day' %}
            {% set sorting_period_url = url_for('subreddit', path=subreddit.name ~ '/' ~ current_sorting_mode.value)
            ~
            "t="
            ~ sorting_period %}
            {% else %}
            {% set sorting_period_url = url_for('subreddit', path=subreddit.name ~ '/' ~ current_sorting_mode.value)
            ~
            "/?t=" ~ sorting_period %}
            {% endif %}
            <li class="post-sorting-item col">
                <a role="button"
                    class="post-sorting-button {{ 'secondary' if current_sorting_period.value != sorting_period else '' }}"
                    href="{{ sorting_period_url }}">
                    {{ sorting_period | capitalize }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    {% endif %}

</details>

{# No posts message if end of lists (in sorting mode for example) #}
{% if posts | length == 0 %}
<article>
    No posts :(
</article>
{% endif %}

{# Posts #}
{% for post in posts %}

{# Ignore NSFW posts on home pages unless enabled in settings #}
{% if global.subreddit_is_homepage(subreddit.title) and post.over18 and not settings.nsfw_popular_all %}
{% else %}
{# if it's an user page there are post comments too: check if it's a comment (it has children) or a post and display accordingly#}
{# TODO: add display of comments #}
{% if post.children is not defined %}
{{ post_macros.render_post_card(post, subreddit.show_thumbnails, subreddit.over18, False) }}
{% endif %}
{% endif %}
{% endfor %}

{% endblock %}

{% block bottom_content %}
<div class="row justify-content-center">
    <a href="{{ newer_url }}" class="col-3 posts-list-pagination-button contrast outline" role="button" {{ 'disabled' if
        not pagination.before_post_id else '' }}>
        Newer
    </a>
    <a href="{{ older_url }}" class="col-3 posts-list-pagination-button contrast outline" role="button" {{ 'disabled' if
        not pagination.after_post_id else '' }}>
        Older
    </a>
</div>


{% endblock %}
