{% macro setting_checkbox_checked(pref_name) %}
{% if settings[pref_name] %}
checked
{% endif %}
{% endmacro %}

{% macro setting_thumbnails_mode_checked(thumbnails_mode) %}
{% if settings.thumbnails.value == thumbnails_mode %}
checked
{% endif %}
{% endmacro %}

{% macro setting_layout_checked(layout_mode) %}
{% if settings.layout.value == layout_mode %}
checked
{% endif %}
{% endmacro %}


{% set title = "Settings" %}

{% extends "base.html" %}

{% block main_content %}

{% if is_saved %}
<article>
    ℹ Your settings have been saved!
</article>
{% endif %}

{# Theme #}
<article class="needs-js">
    <header>Settings</header>
    <div class="row settings-item align-items-baseline">
        <div class="col-3">
            Choose the theme you want to use on eddrit
        </div>
        <div class="col-5">
            <select id="settings-theme-select">
                <option selected>System</option>
                <option>Light</option>
                <option>Dark</option>
            </select>
        </div>
    </div>

    <form action="/settings" method="post">
        <fieldset>
            <legend>Layout</legend>
            <label for="wide">
                <input type="radio" id="wide" name="layout" value="wide" {{
                    setting_layout_checked("wide") }}>
                Wide (full width of the screen)
            </label>
            <label for="compact">
                <input type="radio" id="compact" name="layout" value="compact" {{
                    setting_layout_checked("compact") }}>
                Compact (narrow and centered)
            </label>
        </fieldset>

        <fieldset>
            <legend>Thumbnails</legend>

            <div>
                <input type="radio" id="always" name="thumbnails" value="always" {{
                    setting_thumbnails_mode_checked("always") }} />
                <label for="always">Always show thumbnails next to links</label>
            </div>

            <div>
                <input type="radio" id="never" name="thumbnails" value="never" {{
                    setting_thumbnails_mode_checked("never") }} />
                <label for="never">Never show thumbnails next to links</label>
            </div>

            <div>
                <input type="radio" id="subreddit_preference" name="thumbnails" value="subreddit_preference" {{
                    setting_thumbnails_mode_checked("subreddit_preference") }} />
                <label for="subreddit_preference">Show thumbnails based on that subreddit's media preferences</label>
            </div>
        </fieldset>

        <fieldset>
            <legend>NSFW</legend>
            <label for="nsfw_popular_all">
                <input type="checkbox" id="nsfw_popular_all" name="nsfw_popular_all" {{
                    setting_checkbox_checked("nsfw_popular_all") }}>
                Show NSFW content on /r/popular and /r/all
            </label>
            <label for="nsfw_thumbnails" class="checkbox">
                <input id="nsfw_thumbnails" name="nsfw_thumbnails" type="checkbox" {{
                    setting_checkbox_checked("nsfw_thumbnails") }}>
                Show NSFW thumbnails on non-NSFW subreddits
            </label>
        </fieldset>
        <button type="submit">Save</button>
    </form>
</article>

{% endblock %}
