{% macro checkbox_is_checked(pref_name) %}
{% if settings[pref_name] %}
checked
{% endif %}
{% endmacro %}

{% set title = "Settings" %}

{% extends "base.html" %}

{% block main_content %}

{% if is_saved %}
<article>
    ℹ Your settings have been saved!
</article>
{% endif %}

<!-- Theme -->
<article>
    <header>Theme</header>
    <div class="row settings-item align-items-baseline">
        <div class="col-3">
            Choose the theme you want to use on eddrit
        </div>
        <div class="col-5">
            <select id="settings-theme-select">
                <option selected>System</option>
                <option>Light</option>
                <option>Dark</option>
            </select>
        </div>
    </div>

</article>

<!-- Content -->
<article>
    <header>Content</header>
    <form action="/settings" method="post">
        <fieldset>
            <label for="nsfw_popular_all">
                <input type="checkbox" id="nsfw_popular_all" name="nsfw_popular_all" {{
                    checkbox_is_checked("nsfw_popular_all") }}>
                Show NSFW content on /r/popular and /r/all
            </label>
            <label for="nsfw_thumbnails" class="checkbox">
                <input id="nsfw_thumbnails" name="nsfw_thumbnails" type="checkbox" {{
                    checkbox_is_checked("nsfw_thumbnails") }}>
                Show NSFW thumbnails on non-NSFW subreddits
            </label>
        </fieldset>
        <button type="submit">Save</button>
    </form>
</article>

{% endblock %}
